body {
    background-color: lightgray;
}

#d2 {
    font-family: sans-serif;
    color: indigo;
    font-size: 20px;
    text-align: center
}

.titulo {
    text-align: center
}

.maintitle {
    color: darkgreen;
    background-color: bisque;
    width: 100%;
    height: 300px;
    margin: 0 auto;
    border: 5px solid darkblue;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    font-size: 80px;
}

.maintitle img {
    height: 80%;
}

.livros {
    display: flex;
    justify-content: center;
    gap: 65px;
}

.livros img {
    width: auto;
    height: 260px;
}

table {
    border-style: dashed;
    border-color: red;
    margin: 0 auto;
    height: 100px;
    width: auto;
}

th,
td {
    border: 1px solid red;
    margin: 0 auto
}

th {
    color: red;
    height: 35px;
}

td {
    height: 35px;
    text-align: center;
}

.iframe-container {
    display: flex;
    justify-content: center;
    width: 260px;
    height: auto;
    gap: 100px;
    margin: 0 auto;
}

.iframe-container iframe {
    width: 260px;
    height: 260px;
    border: none;
}

.lista {
    background-color: yellow;
    margin-left: 1000px;
    margin-right: 1000px;
    margin-bottom: 30px;
}

.caixamarrom {
    display: flex;
    background-color: bisque;
    width: 100%;
    height: 150px;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.caixamarrom img {
    height: 80%;
    width: auto;
    padding-right: 20px;
}
.menu {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background-color: lightskyblue;
    color: darkred;
    font-weight: bold;
    margin: 0 auto;
}
.lista span{
    display: inline-block;
    width: 130px;
}
.lista a{
    color: darkred
}
a{
    text-decoration: none;
    font-weight: bold;
}