body {
    background-color: lightgray;
}

#d2 {
    font-family: sans-serif;
    color: indigo;
    font-size: 20px;
    text-align: center
}

.titulo {
    text-align: center
}

.maintitle {
    color: darkgreen;
    background-color: bisque;
    width: 100%;
    height: 300px;
    margin: 0 auto;
    border: 5px solid darkblue;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    font-size: 80px;
}

.maintitle img {
    height: 80%;
}

.livros {
    display: flex;
    justify-content: center;
    gap: 65px;
}

.livros img {
    width: auto;
    height: 260px;
}

table {
    border-style: dashed;
    border-color: red;
    margin: 0 auto;
    height: 100px;
    width: auto;
}

th,
td {
    border: 1px solid red;
    margin: 0 auto
}

th {
    color: red;
    height: 35px;
}

td {
    height: 35px;
    text-align: center;
}

.iframe-container {
    display: flex;
    justify-content: center;
    width: 260px;
    height: auto;
    gap: 100px;
    margin: 0 auto;
}

.iframe-container iframe {
    width: 260px;
    height: 260px;
    border: none;
}

.lista{
    font-size: 20px;
    background-color: yellow;
    width: 500px;
    height: auto;
    margin: 0 auto;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
}